.ShopInstagram {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  button {
    svg {
      display: none;
      // &:hover {
      //   display: block;
      // }
    }
  }
  button.nav.default-nav {
    display: none;
    // &:hover {
    //   display: block;
    // }
  }
  .sliderBody {
    &:hover {
      button.nav.default-nav {
        display: block;
      }
      svg {
        display: block;
      }
    }
  }
  .title {
    display: flex;
    width: 100%;
    margin: 30px 0px;
    padding-top: 40px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    h3 {
      margin: 0;
      font-size: 40px;
      color: #858585;
    }
    h3:last-child {
      color: black;
    }
    p {
      margin: 0;
    }
    .titleLeft {
      padding-left: 4%;
    }
    .titleRight {
      text-align: right;
      padding-right: 4%;
      font-size: large;
    }
  }
}

@media only screen and (max-width: 1020px) {
  .ShopInstagram {
    .sliderBody {
      button.nav.default-nav {
        display: block;
      }
      svg {
        display: block;
      }
    }
    .title {
      flex-direction: column;
      row-gap: 20px;
      .titleLeft {
        padding-left: 0;
        display: flex;
        column-gap: 5%;
      }
      .titleRight {
        padding-right: 0;
        text-align: center;
      }
    }
  }
}
