.promotion{
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 5%;
    .promotioncard{
        width: 41%;
        text-align: center;
        background-color: rgb(248, 243, 241);
        h4{
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 5px;
        }
        p{
            font-size: 1rem;
            font-weight: 400;
            letter-spacing: 0.5px;
        }
        img{
            width: 100%;
            &:hover{
                cursor: pointer;
                opacity: 0.65;
                transition: 1s;
            }
        }
    }
    .promotioncard:last-child{
        background-color: rgb(244, 250, 247);
    }
}
@media screen and (max-width: 768px){
    .promotion{
        flex-direction: column;
        row-gap: 30px;
        .promotioncard{
            width: 100%;
        }
    }
}
    
